.layoutContainer {
    width: 100%;
    background-image: url('../../../public/images/main_bg.jpg');
    background-position: top 4.5rem right 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}